.ss-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 24px;

  .ss-header__logo-link {
    text-decoration: none;
  }

  .ss-header__logo {
    padding: 10px;
    color: #212529;
    font-family: "Inria Serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .ss-header__navbar__links {
    display: flex;
    gap: 16px;
  }
}

.ss-divider {
  border-bottom: 1px solid #ededed;
  margin-top: 5px;
  width: 1408px;
  margin: auto;
}
