body {
  width: 1440px;
  margin: auto;
}

.navbar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0  24px;

    .nav-branding {
      padding: 10px;
      color: #212529;
      font-family: "Inria Serif";
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .nav-links {
      display: flex;
      gap: 16px;
    }
  }
}

.line {
  border-bottom: 1px solid #EDEDED;
  margin-top: 5px;
  width: 1408px;
  margin: auto;
}

.hero-content {
  display: grid;
  margin: 200px;

  h1{
    display: flex;
    margin: 0 0 32px 0;
    color: #081C15;
    text-shadow: 0px 4px 0px rgba(8, 28, 21, 0.12);
    font-family: "Frank Ruhl Libre";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    span {
      color: #081C15;
      font-family: "Frank Ruhl Libre";
      font-size: 52px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  p {
    margin: 0 0 32px 0;
    color: #212529;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 36px */

    &.tag{
      margin-bottom: 20px;
      color: #555A60;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
    }
  }

  span.hero-button {
    width: fit-content;
    padding: 6px 8px;
    border-bottom: 1px dashed #053969;

    a {
      display: flex;
      gap: 8px;
    }
  }
}